<div class="margin5"></div>
<div class="float-left">
  <h5>총 200개의 영수증</h5>
</div>
<div class="float-right">
  <button class="btn btn-outline-primary">영수증 등록</button>
</div>
<div class="margin5" style="clear: both"></div>
<div class="float-none">
  <ul class="list-unstyled">
    <li class="media border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증
          <small>2018-04-12</small>
        </h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media my-4 border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media my-4 border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media my-4 border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media my-4 border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
    <li class="media my-4 border-bottom">
      <img class="mr-3" src="/assets/logo.png" width="64" height="64" alt="Generic placeholder image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">00 님의 영수증</h5>
        <a href="#">#30대남,</a> <a>#월500,</a> <a>#집사고파,</a> <a>#대출 100억</a>
      </div>
    </li>
  </ul>
</div>
