<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.footcoder.receipt.mapper.ReceiptMapper">

    <select id="receiptCnt" parameterType="ReceiptParam" resultType="Integer">
        select count(*) as cnt
        from receipt a
                join users          b on a.userSeq = b.seq
                join receipt_tags   c on a.seq = c.receiptSeq
        <where>
            <if test='tag != null and tag.equals("")'>
                d.tag = #{tag}
            </if>
        </where>
    </select>

    <select id="receipts" parameterType="ReceiptParam" resultType="Receipt">
        select
              a.createDate,
              a.seq,
              a.usedDate,
              b.email
        from receipt a
              join users          b on a.userSeq = b.seq
              join receipt_tags   c on a.seq = c.receiptSeq
        <where>
            <if test='tag != null and tag.equals("")'>
                c.tag = #{tag}
            </if>
            <if test='period != null and period.equals("")'>

            </if>
        </where>
        limit #{limit}, #{offset}
    </select>

    <insert id="createReceipt" parameterType="ReceiptParam">
      insert into receipt
      (
        userSeq
        , usedDate
        , createDate
      )
      values
      (
        #{userSeq}
        , #{usedDate}
        , now()
      )
        <selectKey  resultType="int" keyProperty="seq" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="createReceiptTags" parameterType="ReceiptParam">
        insert into receipt_tags
        (
            receiptSeq
            , tag
        )
        values
        (
            #{receiptSeq}
            , #{tag}
        )
    </insert>


</mapper>