<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.footcoder.receipt.mapper.ReceiptMapper">

    <select id="receiptList" parameterType="ReceiptParam" resultType="Receipt">
        select
              a.createDate,
              a.seq,
              a.usedDate,
              b.email
        from receipt a
              join users b on a.userSeq = b.seq
              join receipt_detail c on a.seq = c.receiptSeq
        limit {limit}, {offset}
    </select>


    <insert id="createReceipt" parameterType="ReceiptParam">

    </insert>

</mapper>