<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.footcoder.receipt.mapper.UserMapper">

    <insert id="signupUser" parameterType="kr.footcoder.receipt.domain.SignupParam">
      insert into users
      (email, password, moneyType)
      values
      (#{email}, #{password}, #{moneyType})
    </insert>


    <select id="getExistUser" parameterType="java.lang.String" resultType="int">
        select
                count(*) cnt
        from    users
        where   email = #{email}
    </select>

</mapper>