<form>
  <div class="form-group">
    <label for="email">EMAIL</label>
    <input type="email" class="form-control" id="email" [ngClass]="{'border-danger':emailError}" #email required aria-describedby="emailHelp"
           placeholder="Enter email">
    <app-message *ngIf="emailError" [message]="emailErrorMessage"></app-message>
  </div>
  <div class="form-group">
    <label for="password">PASSWORD</label>
    <input type="password" class="form-control" [ngClass]="{'border-danger':passwordError}" minlength="8" #password id="password" required placeholder="Password">
    <app-message *ngIf="passwordError" [message]="passwordErrorMessage"></app-message>
  </div>
  <div class="form-group">
    <label for="password_check">PASSWORD CHECK</label>
    <input type="password" class="form-control" [ngClass]="{'border-danger':passwordCheckError}" minlength="8" #password_check required id="password_check" placeholder="Password">
    <app-message *ngIf="passwordCheckError" [message]="passwordCheckErrorMessage"></app-message>
  </div>
  <div class="form-group">
    <label>MONEY TYPE</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" #korea id="korea" value="1">
      <label class="form-check-label" for="korea">
        원
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" #usd id="usd" value="2">
      <label class="form-check-label" for="usd">
        $
      </label>
    </div>
    <app-message *ngIf="typeError" [message]="typeErrorMessage"></app-message>
  </div>
  <a (click)="signup()" class="btn btn-block btn-outline-success">Sign Up</a>
  <a routerLink="/sign-in" class="btn btn-block btn-outline-danger">Cancle</a>
</form>
