<div class="text-center">
  <img src="/assets/logo.png" class="rounded" alt="...">
</div>
<div class="margin40"></div>
<form>
  <div class="form-group">
    <input type="email" class="form-control" #email required aria-describedby="emailHelp" placeholder="Enter email">
    <app-message *ngIf="emailError" [message]="emailErrorMessage"></app-message>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" #password required placeholder="Password">
    <app-message *ngIf="passwordError" [message]="passwordErrorMessage"></app-message>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">remember me</label>
  </div>
  <div class="margin5"></div>
  <a (click)="signIn()" class="btn btn-block btn-outline-primary">Sign In</a>
  <a routerLink="/sign-up" class="btn btn-block btn-outline-success">Sign Up</a>
</form>
