<p>
  영수증 등록 폼
</p>
<div>
  <table class="table table-light">
    <tr>
      <td>
        userToken : {{ userService.token }} 님의 xx월 영수증 good 2 bad 1
      </td>
    </tr>
    <tr>
      <td>
        태그 : <input type="text" placeholder="xxx,xxx">
      </td>
    </tr>
  </table>

  <table class="table table-light">
    <tr>
      <td>
        <button>수입 추가</button>
      </td>
      <td>
        <button>지출 추가</button>
      </td>
    </tr>
    <tr>
      <td>
        수입 금액: <input type="text" placeholder="200000"> <button>댓글보</button>
        good1 bad1
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        지출 금액: <input type="text" placeholder="10000">
        good 1 bad 0
      </td>
    </tr>
  </table>
</div>
