<div>
  <div class="row">
    <div class="col-9">
      <div class="card border border-primary rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            월급<br>
            <small>4,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="card border border-danger rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            맥북<br>
            <small>1,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <div class="card border border-primary rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            월급<br>
            <small>4,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="card border border-danger rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            맥북<br>
            <small>1,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <div class="card border border-primary rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            월급<br>
            <small>4,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <div class="card border border-primary rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            월급<br>
            <small>4,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="card border border-danger rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            맥북<br>
            <small>1,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-9">
      <div class="card border border-primary rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            월급<br>
            <small>4,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="card border border-danger rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            맥북<br>
            <small>1,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <div class="card border border-danger rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">
            맥북<br>
            <small>1,000,000 원</small><br>
            <small>2018-02-22 12:11</small>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">댓글보기</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">수정</a>
          <a href="#" class="card-link">삭제</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  userToken : {{ userService.token }} 님의 xx월 영수증<br>
  #30대, #월400,#30대, #월400,#30대
  <form class="form-inline">
    <button class="btn btn-sm btn-outline-primary" type="button">GOOD</button>
    <button class="btn btn-sm btn-outline-danger" type="button">BAD</button>
  </form>
</nav>
